Options +FollowSymLinks
IndexIgnore */*

#Turn on the RewriteEngine
RewriteEngine On

#Rules
RewriteRule ^archive/?$ archive.php [L]
RewriteRule ^transcript/([0-9]+)/?$ transcript.php?i=$1 [L]