body
{
	margin:0;
	padding:0;
	font-family:"Trebuchet MS";
}

h2
{
	margin:10px 10px 10px 15px;
	padding:10px;
	font-size:30px;
	font-weight:bold;
}

ol
{
	margin:10px 10px 10px 15px;
}

li
{
	list-style:none;
}


a.topic-text
{
	text-decoration:none;
	color:#000;
}

a.topic-text:hover
{
	/*border-bottom:1px solid #0000ff;*/
	color:#0000ff;
}

a.topic-msgs
{
	position:relative;
	top:-2px;
	padding:4px 7px 4px 7px;
	font-size:9px;
	font-family:"Arial";
	background:#333;
	color:#F4F4F4;
	text-decoration:none;
	font-weight:bold;
}

a.topic-msgs:hover
{
	background:#0000ff;
}

span.topic-date
{
	font-size:10px;
	color:#999999;
}